.gallery-container{
  max-width: 1000px;
  margin: 0 auto!important;
}
/* UploadForm.js styles */
.upload-form{
  text-align: center;
}
input[type='file']{
  display: none;
}
.upload-btn{
  display: block;
  font-size: 30px;
  border: 3px solid rgb(0, 43, 185);
  color: rgb(0, 43, 185);
  border-radius: 50%;
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin: 50px auto;
  font-weight: bold;
  line-height: 25px;
}
.upload-error{
  color: red;
}

.progress-bar{
  height: 5px;
  background-color: green;
  margin-top: 15px;
}